/* small screen  */
@media screen and (max-width:576px) {
    .container{
        max-width: 90%;
    }
    
    .nav-main{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
 .left-menu{
    display: flex;
    flex-direction: column;
    gap:20px;
    
 }
 #follow-btn{
    max-width: 262px;
    margin: 0 auto;
 }
 /* hero banner  */
 .hero-banner{
    width: 90%;
    background: none;
    margin: 0 auto;
 }

 .banner-container{
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
 }
 .banner-content{
    width: 100%;
    margin-top: 50px;
 }
.banner-btn-1{
    margin-right: 0;
}
.banner-btn-2{
    margin-top: 25px;
}
.banner-image{
    width: 100%;
    margin-top: 50px;
}
.nav-container {
    box-shadow: none;
}
/* we are gamer section  */

.gamer-image > img{
    width: 100%;

}
.gamer-container{
    flex-direction: column;
    text-align: center;
}
.section-content{
    text-align: center;
}

.online-main{
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    ;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;

}
.play-instanly{
    flex-direction: column;
}
.over-image-right{
    width: 50%;
}
.over-image-left{
    width: 50%;
}
}

/* medium screen */

@media screen and (min-width:577px) and (max-width:992px) {
    .nav-container{
        padding: 0 20px;
    }
    
}